@import "tailwindcss";

/* En tu archivo CSS global si usas uno, o con @layer si es Tailwind puro */

[data-scrolled="true"] {
	@apply bg-[#001E65]/30 backdrop-blur-md shadow-md rounded-4xl max-w-6xl mx-auto px-6;
}

[data-scrolled="true"] ul {
	@apply gap-6;
}

[data-scrolled="true"] #logo {
	@apply scale-90;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.slide-down {
	opacity: 0;
	transform: translateY(-100%);
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slide-down.animate {
	opacity: 1;
	transform: translateY(0);
}

@keyframes slideRight {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.slide-right {
	opacity: 0;
	transform: translateX(100%);
	transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.slide-right.animate {
	opacity: 1;
	transform: translateX(0);
}

@keyframes slideIn {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.slide-in {
	opacity: 0;
	transform: translateX(-100%);
	transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.slide-in.animate {
	opacity: 1;
	transform: translateX(0);
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.slide-up {
	opacity: 0;
	transform: translateY(100%);
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slide-up.animate {
	opacity: 1;
	transform: translateY(0);
}

#treatments {
	scroll-margin-top: 40px;
	/* Ajusta este valor según la altura de tu header */
}

#about {
	scroll-margin-top: 40px;
	/* Ajusta este valor según la altura de tu header */
}