---
import Card from "../components/Card.astro";
---

<section
    id="about"
    class="w-full py-16 font-family: 'Poppins', sans-serif px-32"
>
    <h1 class="text-4xl font-bold text-center text-[#001E65]">
        Odontóloga. Cristina Barbosa
    </h1>
    <div
        class="w-full h-auto flex lg:flex-row flex-col justify-between gap-6 lg:gap-12 py-16"
    >
        <Card className="hover:scale-105 transition-all duration-300">
            <div
                class="text-center flex items-center justify-center bg-gradient-to-r from-[#A7D8F5] to-[#001E65] rounded-t-4xl h-[80px] w-full"
            >
                <h2
                    class="text-xl font-bold text-white text-center justify-center py-2 px-4"
                >
                    Estudiante de Odontología en la UANL
                </h2>
            </div>
            <div
                class="w-full h-auto flex flex-col text-left items-center justify-center px-4 py-4"
            >
                <p class="text-lg text-black mb-4">
                    Soy estudiante de la <span class="text-[#004E89]"
                        >Facultad de Odontología de la UANL</span
                    > y estoy en búsqueda de oportunidades para realizar mis prácticas
                    profesionales.
                </p>

                <p class="text-lg text-black">
                    Mi objetivo es aplicar mis conocimientos con
                    <span class="text-[#004E89]"
                        >dedicación y responsabilidad</span
                    >, brindando a mis pacientes una <span
                        class="text-[#004E89]"
                        >atención de calidad
                    </span>y un trato amable.
                </p>
            </div>
        </Card>
        <Card className="hover:scale-105 transition-all duration-300">
            <div
                class="text-center flex items-center justify-center bg-gradient-to-r from-[#A7D8F5] to-[#001E65] rounded-t-4xl h-[80px] w-full"
            >
                <h2
                    class="text-xl font-bold text-white text-center justify-center py-2 px-4"
                >
                    Servicios
                </h2>
            </div>
            <div
                class="w-full h-auto flex flex-col items-center justify-center px-4 py-4"
            >
                <p class="text-lg text-black mb-4">
                    ✔️ Limpieza Dental – <span class="text-[#004E89]"
                        >Eliminación de placa y sarro</span
                    > para una sonrisa más saludable.
                </p>
                <p class="text-lg text-black mb-4">
                    ✔️ Aplicación de Selladores – Protección contra caries para
                    niños y adultos.
                </p>
                <p class="text-lg text-black mb-4">
                    Con pasión por la salud bucal y en constante aprendizaje, me
                    esfuerzo por ofrecer un servicio profesional y confiable.
                    ¡Estoy lista para ayudarte a cuidar tu sonrisa! 😊
                </p>
            </div>
        </Card>

        <Card className="hover:scale-105 transition-all duration-300">
            <div
                class="text-center flex items-center justify-center bg-gradient-to-r from-[#A7D8F5] to-[#001E65] rounded-t-4xl h-[80px] w-full"
            >
                <h2
                    class="text-xl font-bold text-white text-center justify-center py-2 px-4"
                >
                    Mis principales valores
                </h2>
            </div>
            <div
                class="w-full h-auto flex flex-col items-center justify-center px-4 py-4"
            >
                <p class="text-lg text-black mb-4">
                    <span class="font-semibold text-[#001E65]"
                        >Responsabilidad</span
                    ><br /> Me comprometo con cada paciente a brindar una atención
                    segura y profesional.
                </p>
                <p class="text-lg text-black mb-4">
                    <span class="font-semibold text-[#001E65]"
                        >Vocación de Servicio</span
                    ><br /> Amo lo que hago y busco generar un impacto positivo en
                    la salud bucal de cada persona.
                </p>
                <p class="text-lg text-black mb-4">
                    <span class="font-semibold text-[#001E65]"
                        >Ética profesional</span
                    ><br /> Actúo con integridad en cada paso de mi formación y atención.
                </p>
            </div>
        </Card>
    </div>
</section>
