---
import ArrowRight from "../components/icons/ArrowRight.astro";
---

<a
    class="group font-bold
bg-[#001E65] shadow-md shadow-black/30 text-white py-2 px-4 w-50 rounded-full mt-4 hover:scale-110 hover:bg-gradient-to-r from-[#A7D8F5] to-[#001E65] hover:text-white inline-flex items-center transition-all"
    href="https://wa.me/8187097029"
    target="_blank"
    rel="noopener noreferrer"
>
    Agendar una cita <ArrowRight
        class="inline ml-1 transition-transform duration-300 group-hover:translate-x-2"
    />
</a>
