---
const { className } = Astro.props;
---

<div
    class={`${className} bg-[#F7F7F7] lg:h-auto md:w-auto lg:w-[350px] h-auto w-full flex flex-col rounded-4xl shadow-lg shadow-black/20 transition-all duration-300 mb-6`}
>
    <slot />
</div>
