---
import PriorityDentalIcon from "../components/icons/PriorityDental.astro";
import Instagram from "./icons/Instagram.astro";
---

<footer class="bg-white dark:bg-gray-900 w-full">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <hr
            class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <div class="sm:flex sm:items-center sm:justify-between flex-wrap">
            <span
                class="text-sm text-gray-500 sm:text-center dark:text-gray-400 block w-full sm:w-auto mb-4 sm:mb-0"
                >© 2025 <a href="/" class="hover:underline">PriorityDental</a>.
                Todos los derechos reservados.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0 flex-wrap">
                <a
                    href="#"
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white mr-3 mb-2"
                >
                    <svg
                        class="w-4 h-4"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 8 19"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Facebook page</span>
                </a>
                <a
                    href="#"
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white mr-3 mb-2"
                >
                    <span class="sr-only">Instagram</span>
                </a>
                <a
                    href="#"
                    class="text-gray-500 hover:text-gray-900 dark:hover:text-white mr-3 mb-2"
                >
                    <Instagram class="size-4" />
                </a>
            </div>
        </div>
    </div>
</footer>
