---
import PriorityDentalIcon from "../components/icons/PriorityDental.astro";
---

<div
    class="fixed top-0 left-0 right-0 w-full flex items-center justify-between px-12"
>
    <PriorityDentalIcon class="size-20 text-white" />

    <ul class="flex gap-6 font-bold text-lg">
        <li class="group relative">
            <a
                href="#home"
                class="text-white hover:text-[#001E65] transition-all"
            >
                Inicio
            </a>
            <div
                class="absolute bottom-0 left-0 w-0 h-1 bg-[#001E65] group-hover:w-full transition-all duration-300"
            >
            </div>
        </li>
        <li class="group relative">
            <a
                href="#about"
                class="text-white hover:text-[#001E65] transition-all"
            >
                Sobre mí
            </a>
            <div
                class="absolute bottom-0 left-0 w-0 h-1 bg-[#001E65] group-hover:w-full transition-all duration-300"
            >
            </div>
        </li>
        <li class="group relative">
            <a
                href="#expedient"
                class="text-white hover:text-[#001E65] transition-all"
            >
                Apertura de Expediente
            </a>
            <div
                class="absolute bottom-0 left-0 w-0 h-1 bg-[#001E65] group-hover:w-full transition-all duration-300"
            >
            </div>
        </li>
        <li class="group relative">
            <a
                href="#treatments"
                class="text-white hover:text-[#001E65] transition-all"
            >
                Tratamientos
            </a>
            <div
                class="absolute bottom-0 left-0 w-0 h-1 bg-[#001E65] group-hover:w-full transition-all duration-300"
            >
            </div>
        </li>
        <li class="group relative">
            <a
                href="#contact"
                class="text-white hover:text-[#001E65] transition-all"
            >
                Contacto
            </a>
            <div
                class="absolute bottom-0 left-0 w-0 h-1 bg-[#001E65] group-hover:w-full transition-all duration-300"
            >
            </div>
        </li>
    </ul>
</div>
