---
import ButtonCita from "../components/ButtonCita.astro";
---

<section
    id="schedule"
    class="bg-[#E5E5E5] h-auto lg:h-[400px] w-full py-16 font-family: 'Poppins', sans-serif flex flex-col lg:flex-row justify-center lg:justify-between px-8 lg:px-40"
>
    <div
        class="w-full flex flex-col items-center lg:items-start text-center lg:text-left"
    >
        <h1 class="text-2xl lg:text-4xl font-bold text-[#001E65] mb-4">
            ¿Qué esperas para agendar tu cita?
        </h1>
        <div class="text-center text-md lg:text-2xl lg:text-left max-w-2xl">
            <p class="font-semibold text-black/90 mb-2">
                Cuida tu sonrisa hoy y evita problemas mañana.
            </p>
            <p class="font-semibold text-black/90">
                ¡Agenda tu consulta y empieza tu camino hacia una salud bucal
                impecable!
            </p>
        </div>
        <div class="w-full slide-in">
            <ButtonCita className="mb-4" />
        </div>
    </div>
    <div class="flex justify-center lg:items-center">
        <img
            src="/images/dentista1.webp"
            alt="Dentista"
            class="w-[200px] h-auto px-2 lg:px-4 py-2 rounded-full lg:w-[400px] slide-in"
        />
    </div>
</section>
