---
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
---

<Section id="treatments" className="flex flex-col items-center justify-center">
    <div class="w-full text-center">
        <h1 class="text-4xl font-bold text-[#001E65] mb-4">Tratamientos</h1>
    </div>
    <div
        class="w-full flex flex-col lg:flex-row justify-center items-center gap-8 py-16 lg:py-0"
    >
        <Card className="slide-up lg:slide-in">
            <img
                src="/images/limpieza-dental.webp"
                alt="Limpieza Dental"
                class="w-full rounded-t-4xl md:h-[230px] md:w-auto"
            />
            <h3 class="text-xl font-bold text-[#001E65] mb-4 mt-4 text-center">
                Limpieza Dental
            </h3>
            <p class="text-lg text-black mb-4 text-pretty px-4">
                Elimina placa, sarro y manchas para mantener una sonrisa sana y
                prevenir enfermedades bucales. Ideal como cuidado regular cada 6
                meses.
            </p>
        </Card>

        <Card className="slide-up lg:slide-right">
            <img
                src="/images/selladores-dentales.webp"
                alt="Selladores"
                class="w-full rounded-t-4xl lg:h-[230px]"
            />
            <h3 class="text-xl font-bold text-[#001E65] mb-4 mt-4 text-center">
                Aplicación de Selladores
            </h3>
            <p class="text-lg text-black mb-4 text-pretty px-4">
                Protección preventiva para dientes sanos. Se coloca una resina
                sobre molares y premolares para evitar la formación de caries en
                zonas difíciles de limpiar.
            </p>
        </Card>
    </div>
</Section>
