---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>
			Priority Dental - Tu Cita Dental con la Odontóloga Cristina Abigail
		</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Priority Dental - Citas" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
		/>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />

		<!--Script de animación -->
		<script>
			// Configuración del observador
			const observerOptions = {
				threshold: 0.1,
				rootMargin: "450px",
			};

			// Función para iniciar las animaciones
			const initAnimations = () => {
				const observer = new IntersectionObserver((entries) => {
					entries.forEach((entry) => {
						if (entry.isIntersecting) {
							// Añadir la clase 'animate' para activar la animación
							entry.target.classList.add("animate");
							// Dejar de observar el elemento una vez animado
							observer.unobserve(entry.target);
						}
					});
				}, observerOptions);

				// Observar todos los elementos con clases de animación
				const animatedElements = document.querySelectorAll(
					".slide-in, .slide-right, .slide-up, .slide-down",
				);
				animatedElements.forEach((element) =>
					observer.observe(element),
				);
			};

			// Iniciar las animaciones cuando el DOM esté cargado
			document.addEventListener("DOMContentLoaded", initAnimations);
		</script>
	</body>
</html>

<style>
	html {
		font-family: "Poppins", sans-serif;
		scroll-behavior: smooth;
	}
	body {
		margin: 0;
		width: 100%;
		height: 100%;

		background-color: #fff;
	}
	main {
		min-height: 100vh;
		min-width: 100vw;
	}
</style>
